extends base.pug

block body
  h1.text-center Crypto Invoicer

  .jumbotron
    p.
      This is a personal invoicing portal. Use this portal to bill your clients
      for work done using #[a(href="https://www.coinbase.com/") Coinbase]:
      accept money in USD or Bitcoin.

    p
      Please #[a(href="/login") login] to continue.
